@import url('https://fonts.googleapis.com/css?family=Abel');

body{
    background: #fff;
    padding-top: 100px;
}
.registration .container{
/*  background: #f7f7f7;*/
    padding-top: 50px;
    padding-bottom: 60px !important;
}
/*
.reg-page {
	background-color: #f7f7f7;
	background-color: #fff;
	padding-top: 128px;
}
*/
.registration .title {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	font-size: 24px;
	margin-bottom: 24px;
}
.registration .subtitle {
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.reg-page .form-control {
	/* background: #ccc !important;
	border-color: #ccc !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-family: "Open-Sans", sans-serif !important;
	letter-spacing: 1px !important;
	font-size: 13px !important;
    border-radius: 2px; */
	border: 1px solid #ccc;
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 0 0 1em;
	background-color: transparent;
	outline: none;
}

.reg-pag .form-control:focus {
	color: #fff;
}

.reg-pag .input-group-text {
	background: #222 !important;
	border-color: #222 !important;
	color: #8c8c8c;
}
.container .form-horizontal label {
	color: #999;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
}
.register-navs > .nav-link {
       	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
    background: #e1e1e1;
    background: #eaeaea;
    background: rgb(225,225,225);
    border-radius: 0px;
    font-weight: 600;
    color: #111;
    line-height: 42px;
}

.register-navs > .nav-link.active {
    background: #333 !important;
    border-radius: 0px;
    color: #fff !important;
    border: 1px solid #3333;
}

.registration  .tab-content {
    border: 1px solid #ccc;
    border-top: 0px !important;
    padding: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
/*    background: #fff;*/
    padding-bottom: 40px;
}

.form-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}



.form-label {
  	font-weight: 600;
	font-family: 'Open Sans', sans-serif !important;
	letter-spacing: 1px;
	font-size: 14px;
    position: absolute;
    left: 0;
    top: 10px;
    color: #111;

     background: #f7f7f7;
        background-color: #fff;
    z-index: 10;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);
    font-size: .75em;
    color:#b9b9b9;
}

.form-input {
    font-family: 'Open Sans', sans-serif !important;
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
     background: #f7f7f7;
     background: #fff;
}

.form-input:focus {
    box-shadow: 0 1px 0 0 #ddd;
}

/*
.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}
*/

.form-text {
    color: #a7a7a7;

}


.btn-year {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    margin: 3px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;

}

.btn-cal-control {
    background: #eee;
}
.btn-cal-control i {
   pointer-events: none;
}

.content-slider {
    position: relative;
    width: 190px;
    height: 170px;
    padding: 0px;
}

.contents {
    position: absolute;
    width: 190px;
    height: 170px;
    background: #fff;
    z-index: 102;
    padding: 6px;
    margin: 0px;
}

.years {
    font-family: 'Abel', sans-serif;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-left: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.years:focus {
    outline: none !important;
}


fieldset {
    margin-top: 20px;
    border: solid 1px #ccc !important;
    padding: 15px 8px 30px 8px;
    border-bottom: none;
    width: 100%;
    border-radius: 4px;
}

legend {
    font-family: 'Open Sans', sans-serif;
    width: auto !important;
    border: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}

.btn-pop {
    position: absolute;
    top: 4px;
    right: 0px;
    z-index: 3;
    background-color: #333333;
    border-color: #333333;
    color: #fff !important;
    /*
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 2px;
*/
}
.input-block {
     font-family: 'Open Sans', sans-serif !important;
    position: absolute;
    top: 4px;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-color: transparent !important;;
}
.btn-g{
     min-width: 50px;
}
.btn-m {
    min-width: 88px;
    margin: 3px;
}

.btn-d {
    min-width: 40px;
    margin: 3px;
}

#containerElem .popover {
    min-width: 316px !important;
}
.btn-tab-control{
    padding-left: 30px;
    padding-right: 30px;
     background: #333;

    border-radius: 0px;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
}
.btn-tab-control:hover{
 background: #7d7d7d;


}
.field-icon {
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 0px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
}

.btn-popover {
    color: #fff !important;
/*
    background-color: #6c757d;
    border-color: #6c757d;
*/
    background-color: #333333;
    border-color: #535a5a;
}

.btn-popover:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
.btn-captcha-mute{
    background-color: #333 !important;
    min-width:72px;
    color:#fff !important;
}
.btn-form-confirm{
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 14px;
        border:2px solid #333;
        border-radius: 0px;
        padding: 12px 24px;
    color: #333;
}
.btn-form-confirm:hover{
    background: #333;
    color: #fff !important;
}
scope{
     font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 14px;
        border:2px solid #333;
        border-radius: 0px;
        padding-left: 6px;
    color: #333;
}
.alert {
   line-height: 30px !important;
      font-family: 'Open Sans', sans-serif;
           font-weight: 500;
        font-size: 13px;
    letter-spacing: 1px;
}
.alert strong {
           font-weight: 700;
        font-size: 14px;
}
