body {
	background: #f7f7f7;
}
.row {
	padding: 0px;
	margin: 0px;
}
.navbar-mobile-top , .navbar-mobile-bot {
   z-index: 1600;
}

.navbar-mobile-top .collapse-wrap, .navbar-mobile-bot .collapse-wrap{
   padding:10px;
}
.navbar-mobile-top .card > a:link,
.navbar-mobile-top .card > a:visited,
.navbar-mobile-top .card > a:hover,
.navbar-mobile-top .card > a:active {
   color:#222 !important;
   text-decoration:none !important;
}
.navbar-mobile-bot .card > a:link,
.navbar-mobile-bot .card > a:visited,
.navbar-mobile-bot .card > a:hover,
.navbar-mobile-bot .card > a:active {
   color:#222 !important;
   text-decoration:none !important;
}
.navbar-mobile-top .card, .navbar-mobile-bot .card{
   border-radius:0px;
   margin:0px !important;
   box-shadow:none !important;
   border:0px !important;
   background:transparent !important;
}
.navbar-mobile-top .card-header, .navbar-mobile-bot .card-header{
   cursor:pointer;
   border-radius:0px!important;
   margin:2px;
   box-shadow:none !important;
   border:1px solid #ccc !important;
}
.navbar-mobile-top .card-body, .navbar-mobile-bot .card-body{
   border-radius:0px;
   margin:0px !important;
   box-shadow:none !important;
   border:0px !important;
   background:transparent !important;
   padding:4px 2px 0px 2px;
}
.bar-box{
   background:transparent !important;
   border: none !important;
   margin-top:7px !important;
   margin-right:6px !important;
}
.icon-bar {
   display: inline-block;
   position:absolute;
   width: 14px;
   height: 2px;
   border-radius: 1px;
   background:#999;
   transition: all 0.5s ease;
}
.collapsed .bar-box .icon-bar:nth-of-type(1) {
   transition: all 0.5s ease;
   transform: rotate(-90deg);
   transform-origin: center center;
}

.navbar-mobile-bot .list-inline{
   margin:0px;
}
.navbar-mobile-bot .list-inline > li > a {
   display:inline-block;
   text-align:center;
   color: #333 !important;
   text-decoration:none !important;
cursor: pointer;
   width:36px;
}
.navbar-mobile-bot .navbar-toggler {
   color: rgba(0, 0, 0, 0.8);
   border-color: rgba(0, 0, 0, 0.2);
   padding: 0.50rem 0.90rem;
   font-size: 1.25rem;
   line-height: 1;
   background-color: transparent;
   border-radius: 0.15rem;
    outline: none !important;
   box-shadow: none;
}
.navbar-mobile-top .navbar-toggler {
   font-family: 'Open Sans', sans-serif;
   font-size:13px !important;
   letter-spacing:1px;
   font-weight:600;
   text-transform:capitalize;
   color: rgba(0, 0, 0, 0.8);
   border-color: rgba(0, 0, 0, 0.2);
   padding: 0.60rem 0.90rem;
   background-color: transparent;
   border-radius: 0.15rem;
     outline: none !important;
   box-shadow: none;
}
.btn-group-vertical .btn{
   margin-bottom:4px;
   border-radius:0px;
   text-align:left;
   padding-left:20px;
   background:transparent;
   color:#333;
   border-color:#777;
}
.navbar-top {
	min-height: 36px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #333;
	border: 0px;
     z-index: 1500;
}

.navbar-top .navbar-brand {
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #444;
	margin: 0px;
	color: #fff !important;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: 400;
	text-transform: uppercase;
	padding-right: 20px;
}

.navbar-top .navbar-nav > li > a {
	font-family: 'Roboto', sans-serif;
	line-height: 36px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: capitalize;
}

.navbar-top .ml-auto > li > a {
	width: 76px;
	text-align: center;
}

.navbar-top .dropdown-menu {
	margin-top: -1px;
	border-radius: 0px;
	min-width: 320px;
	background: #333;
	border: 0px solid transparent;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0px !important;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	z-index: 5000;
}

.top-active-dropdown {
	background: #333;
	transition: all 0.5s ease;
}

.phone-bar {
	background: #444;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-main {
	background: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
       z-index: 1500;
}

.navbar-main .navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;

	margin: 0px;
	color: #222 !important;
	font-size: 16px;
	letter-spacing: 2px;
   	font-weight: 700;
	text-transform: uppercase;
	line-height: 64px;
	padding-left: 2px;

}

.navbar-main .navbar-nav > li > a {
	line-height: 64px;
	font-family: 'Roboto', sans-serif;
	/*
    padding-top: 20px;
    padding-bottom: 20px;
*/
	padding-top: 0px;
	padding-bottom: 0px;
	text-transform: uppercase;
	color: #444;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 2px;
	transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	min-width: 60px;
	text-align: center;
}

.px-6 {
	padding-left: 6rem;
	padding-right: 6rem;
}

.btn-eye-exam {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	border: 1px solid #ddd;
	background: #ddd;
	color: #333;
	background: #fff;
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.btn-eye-exam:hover {
	background: #f5f5f5 !important;
}

/* ---------------------------------dropper setting */

.navbar-main .dropdown {
	position: static;
}

.navbar-main .dropdown .icon {
	font-weight: 800;
	font-size: 14px;
	color: #333;
	margin-left: 6px;
}

.css-angle-down {
	transition: all 0.5s ease;
	-webkit-transform: rotate(0.25turn);
	-moz-transform: rotate(0.25turn);
	-ms-transform: rotate(0.25turn);
	-o-transform: rotate(0.25turn);
	transform: rotate(0.25turn);
}

.css-angle-right {
	transition: all 0.5s ease;
}

.navbar-main .dropdown-menu {
	width: 100%;
	border: none !important;
	background: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.navbar-main .well-menu {
	background: #fff;
	padding: 12px 26px 16px 26px;
	width: 70%;
	border: 1px solid #eee;
	border-top: 0px solid transparent;
	border-bottom: 4px solid #999;
}

/* --------------------------------- end of dropper setting */

.card-thumbnails {
	padding-top: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
	background: #f6f6f6;
	cursor: pointer;
	text-align: center;
}

.card-thumbnails:hover {
	text-decoration: none;
}

.card-thumbnails img {
	max-width: 200px;
}

.navbar-thumb-cap-offer {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: deepskyblue;
	color: #222;

	text-shadow: none !important;
	line-height: 30px;
	letter-spacing: 1px;
	margin-bottom: 12px;
	margin-top: 20px;
}

.navbar-thumb-cap-offer strong {
	font-size: 14px;
	font-weight: 500;
	color: #ad8a22;
	color: #28c3f6;
}

.navbar-thumb-cap {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	color: #333;
	background: #e2c672;
	background: #fff;
	font-weight: 400;
	transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	border: 1px dashed #cac9c9;
	line-height: 46px;
	margin: 10px 14px 20px 14px;
}

.navbar-thumb-cap strong {
	font-weight: 500;
}

/* Active Dropdown*/

.nopulse::after {
	content: "";
	display: block;
	margin-left: 30px;
	margin-top: -14px !important;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #737373;
}

.pulse::after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-left: 30px;
	margin-top: -14px !important;
	background: #cca92c;
	background: goldenrod;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(218, 165, 32, 0.4);
	animation: pulse 2s infinite;
}

.pulse:hover::after {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}

	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

/* Forms */

.dropdown-box {
	min-width: 320px;
}

.dropdown-box p {
	color: #fff;
	font-family: "Roboto", sans-serif;
	line-height: 32px;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 500;
	border-bottom: 1px dashed #828282;
}

.dropdown-box .btn-form-tabs {
	color: #ccc !important;
	font-family: "Roboto", sans-serif;
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	cursor: pointer;
	font-style: italic;
	margin-top: 6px;
}

.dropdown-box input {
	background: #222 !important;
	border-color: #222 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-family: "Open-Sans", sans-serif !important;
	letter-spacing: 1px !important;
	font-size: 13px !important;
}

.dropdown-box .form-control:focus {
	color: #fff;
}

.dropdown-box .input-group-text {
	background: #222 !important;
	border-color: #222 !important;
	color: #8c8c8c;
}

.btn-sidenav {
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 12px;
	margin-top: 8px;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	box-shadow: none !important;
	outline: none !important;
	background: #fff;
	color: #222;
}

.btn-sidenav:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.btn-sidenav:hover,
.btn-sidenav:focus,
.btn-sidenav:active {
	color: #000;
}

.btn-sidenav:hover:before,
.btn-sidenav:focus:before,
.btn-sidenav:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

/*
.alert {
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 6px;
	margin: 0px;
}
*/

.dj-validator-msg {
	font-family: 'Open Sans', sans-serif;
	display: none;
	/* color: #ffc107 !important; */
/*	color: #cca92c !important;*/
    color:#f44336 !important;
	line-height: 22px !important;
	padding: 0px !important;
	font-weight: 500 !important;
	text-transform: capitalize !important;
	letter-spacing: 1px !important;
	font-size: 12px !important;
}

.v-msg {
	margin-bottom: 10px;
	padding-left: 6px;
}

/* side navs */

.sidenav {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	width: 0;
	position: fixed;
	z-index: 6000;
	top: 0;
	right: 0;
	background-color: #333;
	overflow-x: hidden;
	transition: 0.5s;
}

.side-nav-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 80px;
	padding-right: 20px;
	padding-left: 20px;
}

.side-nav-header h5 {
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 15px;
	font-size: 400;
	color: #cac9c9;
	line-height: 80px;
	font-weight: 400;
}
.side-nav-header h5:nth-child(1) {
	color: goldenrod !important;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}
.side-nav-header h5 > .icon {
	margin-right: 8px;
}

.side-nav-header hr {
	margin-top: -10px !important;
	border-bottom: 1px solid #828282;
}

.side-nav-body {
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	padding: 20px;
}

.side-nav-footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 60px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.sidenav .closebtn {
	cursor: pointer;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

/* Pages */

/*Footer*/
.btn-newsletter{
   font-size:15px;
   font-family: 'Open Sans',sans-serif;
   border:2px solid #444;
   border-radius:0px;
   color: #444;
   font-weight:600;
   letter-spacing:1px;
   padding: 16px 36px;
    text-transform: capitalize;
  transition: all 0.5s ease;
    margin-top: 2px;

}
.btn-newsletter:hover{
    transition: all 0.5s ease;
background: #444;
   color: #fff;

}
.footer-1{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f3f3f3;
}
.footer-0{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ecebeb;

}
.footer-0 .social{

}
.footer-1 .sitemap{
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer-social-box{
   margin-top: 8px;
}
.footer-0 .container{
   font-family: 'Open Sans',sans-serif;
   border:1px dashed #e0e0e0;
   border-radius:0px;
  padding-top: 8px;

}
.footer-social-box .list-inline > li > a{
    font-weight: 700;
    font-size:20px;
     color: #555;
    text-decoration: none !important;
    background: #ccc;
    border-radius: 35px;

}
.footer-social-box .list-inline > li:first-child{
   font-size:15px;
   font-family: 'Open Sans',sans-serif;
    border-radius:0px;
   color: #444;
   font-weight:600;
   letter-spacing:1px;
   padding: 10px 36px;
    text-transform: capitalize;


}

.footer-1 .footer-header{
      font-size:14px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 34px;
   font-family: 'Open Sans',sans-serif;
     color: #777;

}
.footer-paragraph{
    font-weight: 600;
      font-size:13px;
    line-height: 22px;
   font-family: 'Open Sans',sans-serif;
    color: #ababab;

}
.footer-1 .list-unstyled > li > a{
    font-weight: 600;
    font-size:13px;
    line-height: 22px;
    font-family: 'Open Sans',sans-serif;
    color: #ababab;
    text-decoration: none !important;

}
.footer-2{
        padding-top: 20px;
    padding-bottom: 20px;
    background: #ecebeb;

}
.footer-3{
        padding-top: 20px;
    padding-bottom: 20px;
    background: #404040;

}
.footer-3 p{
    font-weight: 600;
    font-size:13px;
    line-height: 22px;
    font-family: 'Open Sans',sans-serif;
    color: #d2d2d2;
    letter-spacing: 1px;
}

.footer-3 .list-inline > li{
    font-weight: 600;
    font-size:32px;
    color: #fff;

}

.mobile-modals .modal{
background: rgba(0,0,0,0.6);
}
.mobile-modals .modal-content{
border-radius: 0px;
}
.mobile-modals .modal-title{
    font-weight: 600;
    font-size:14px;
    font-family: 'Open Sans',sans-serif;
    color: #777;
    letter-spacing: 1px;
}
