.navbar-top {
  min-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #444;
  border: 0px;
}

.navbar-top .navbar-brand {

  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #444;
  margin: 0px;
  color: #fff !important;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 20px;
}

.navbar-top .navbar-nav>li>a {
  font-family: 'Roboto', sans-serif;
  line-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: capitalize;
}

.navbar-top .ml-auto>li>a {
  width: 76px;
  text-align: center;
}

.navbar-top .dropdown-menu {
  margin-top: -1px;
  border-radius: 0px;
  min-width: 320px;
  background: #333;
  border: 0px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  z-index: 5000;

}



.top-active-dropdown {
  background: #333;
  transition: all 0.5s ease;
}

.phone-bar {
  background: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-main {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-main .navbar-brand {

  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  color: #666 !important;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-main .navbar-nav>li>a {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #999;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  min-width: 70px;
  text-align: center;
}


.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.eye-exam-nav {
  border: 1px solid #ddd;
  padding: 6px 26px 6px 26px !important;


}

.eye-exam-nav:hover {
  background: #f5f5f5 !important;
}

/* ---------------------------------dropper setting */
.navbar-main .dropdown {
  position: static;
}

.navbar-main .dropdown .icon {
  font-weight: 800;
  font-size: 14px;
  color: #333;
  margin-left: 6px;

}

.css-angle-down {

  transition: all 0.5s ease;
  -webkit-transform: rotate(0.25turn);
  -moz-transform: rotate(0.25turn);
  -ms-transform: rotate(0.25turn);
  -o-transform: rotate(0.25turn);
  transform: rotate(0.25turn);
}

.css-angle-right {

  transition: all 0.5s ease;

}


.navbar-main .dropdown-menu {
  width: 100%;
  border: none !important;
  background: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.navbar-main .well-menu {
  background: #fff;
  padding: 12px 26px 16px 26px;
  width: 70%;
  border: 1px solid #eee;
  border-top: 0px solid transparent;
  border-bottom: 4px solid #999;
}



/* --------------------------------- end of dropper setting */

.card-thumbnails {
  padding-top: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  background: #f6f6f6;
  cursor: pointer;
  text-align: center;
}

.card-thumbnails:hover {
  text-decoration: none;
}

.card-thumbnails img {
  max-width: 200px;
}

.navbar-thumb-cap-offer {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: deepskyblue;
  color: #222;

  text-shadow: none !important;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  margin-top: 20px;

}

.navbar-thumb-cap-offer strong {

  font-size: 14px;
  font-weight: 500;
  color: #ad8a22;
  color: #28c3f6;
}

.navbar-thumb-cap {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  color: #333;
  background: #e2c672;
  background: #fff;
  font-weight: 400;
  transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  border: 1px dashed #cac9c9;
  line-height: 46px;
  margin: 10px 14px 20px 14px;

}

.navbar-thumb-cap strong {
  font-weight: 500;
}

/* Active Dropdown*/
.nopulse::after {
  content: "";
  display: block;
  margin-left: 30px;
  margin-top: -14px !important;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #737373;
}


.pulse::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -14px !important;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover::after {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

/* Forms */
.row {
  padding: 0px;
  margin: 0px;
}

.dropdown-box {
  min-height: 280px;
  min-width: 320px;
  padding: 20px 30px 30px 30px;
  margin: 0px;

}

.dropdown-box p {
  color: #ddd;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  border-bottom: 1px dashed #ddd;
}

.dropdown-box .btn-form-tabs {
  color: #ccc !important;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  font-style: italic;
  margin-top: 6px;
}

.dropdown-box input {
  background: #222 !important;
  border-color: #222 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: "Open-Sans", sans-serif !important;
  letter-spacing: 1px !important;
  font-size: 13px !important;

}

.dropdown-box .form-control:focus {
  color: #fff;

}

.dropdown-box .input-group-text {
  background: #222 !important;
  border-color: #222 !important;
  color: #ddd;

}

.btn-dropdown-form {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: none !important;
  outline: none !important;
  background: #dddddd;
  color: #222;
}

.btn-dropdown-form:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-dropdown-form:hover,
.btn-dropdown-form:focus,
.btn-dropdown-form:active {
  color: white;
}

.btn-dropdown-form:hover:before,
.btn-dropdown-form:focus:before,
.btn-dropdown-form:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.alert {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 6px;
  margin: 0px;
}

.dj-validator-msg {
  font-family: "Roboto", sans-serif;
  display: none;
  /* color: #ffc107 !important; */
  color: #cca92c !important;

  line-height: 22px !important;
  padding: 0px !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  font-size: 12px !important;
}

.v-msg {
  margin-bottom: 10px;
  padding-left: 6px;
}

/* side navs */
.sidenav {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  width: 0;
  position: fixed;
  z-index: 6000;
  top: 0;
  right: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;

}

.side-nav-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  padding: 12px;
}

.side-nav-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
}

.side-nav-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 60px;

}


.sidenav .closebtn {

  color: #cac9c9;

}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
