body {
    background: #fff;
    padding-top: 150px;
}

.page-title {
    font-family: 'Open Sans', sans-serif;
    line-height: 46px;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
}

.page-title strong {
       font-weight: 500;
    letter-spacing: 1px;
    color: #666;
}

.page-paragraph {
     font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    color: #222;
    text-align: justify;
    line-height: 28px;
}

.page-paragraph strong {
    font-size: 17px;
    text-transform: capitalize;
       font-weight: 500;
    letter-spacing: 1px;
    color:#00d0ff;
}

.alert-color {
    font-family: 'Rubik', sans-serif;
        border-radius: 0px;
    color: #FFFFFF;
    background-color: #f77979;
    border-color: #f77979;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;

}
.product {
    padding-top: 16px;
    padding-bottom: 16px;

}
.product .icon-heart {
   color: darkgoldenrod;

}

.product table {
    margin-top: 20px;
}

.product table tr td {
    border-top: 1px dashed #dee2e6;
}

.product table tr:first-of-type td {
    border-top: 0px solid transparent !important;
}

.product a {
    text-decoration: none !important;
}

.item-brand-name {
    font-family: 'Rubik', sans-serif;
    color: #999;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
}

.item-model-name {
    font-family: 'Rubik', sans-serif;
    color: #777;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.item-model-price {
    font-family: 'Rubik', sans-serif;
    color: #777;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.item-colors {
    font-family: 'Rubik', sans-serif;
    color: #999;
    letter-spacing: 1px;
    font-size: 13px;
    text-decoration: none !important;
}
